body{
  background:#fff;
}

h1{
  text-align:center;
  margin-bottom:5px;
}

#game-base{
  width:640px;  
  margin:0 auto;
  padding-top:60px;
}

#game-table{
  width:434px;
  height:374px;
  margin:0 auto;
  border:solid; 
background:url("http://img.sr/images/2014/01/28/base.png") 0 0 no-repeat;
  position:relative;
}

.disc{
  position:absolute;
  z-index:-1;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:#FF0000;
}

.disc.black{
  background:#000000;
}
